---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors
$text-color:            #566b78;
$text-important-color:  #26343c;
$background-color:      #fdfdfd;
$brand-color:           #5fb3b3;
$brand-color-dark:      #3d7575;
$brand-second-color:    #f66944;
$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-dark:       darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$screen-xs-max:     767px;  /* Extra small devices (phones, less than 768px) */
$screen-sm-min:     768px;  /* Small devices (tablets, 768px and up) */
$screen-md-min:     992px;  /* Medium devices (desktops, 992px and up) */
$screen-lg-min:     1200px; /* Large devices (large desktops, 1200px and up) */

@mixin media-query($screen-device-min) {
    @media (min-width: $screen-device-min) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "navbar",
        "syntax-highlighting",
        "layout",
        "style"
;
