---
layout: default
---

<div class="home">

  <h1>Recent Posts</h1>

  <div class="grid-items">
    {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="grid-item">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
        <h1>{{ post.title }}</h1>
        <p>{{ post.date | date: "%b %-d, %Y" }}</p>
      </a>
    {% endfor %}
    <!-- <a href="javascript:void(0)" class="grid-item">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
      <h1>Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
      <h1>Grid Item With an Image</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      <h1>Another Wide Item</h1>
      <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    </a> -->
  </div>

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<!-- {% include grid-refills.html %} -->
