<section id="about" class="site-section">
  <div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="text-uppercase">More about me</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>I’m a Research Grantee at <a href="http://www.vale.com/BRASIL/en/initiatives/innovation/itv/Pages/default.aspx" target="_blank">Vale Institute of Technology - Sustainable Development (ITV-DS)</a>, a research, technology, and innovation center regarding the Mining and Sustainable Development knowledge areas. In this role I work, mainly, in a project
        concerning the Brain Computer Interfaces (BCI) field, developing and testing machine learning models using Python and Matlab as primary developing languages, as well as writing internal reports and articles for publishing. Our most recognised
        work to date was a conference paper published in the XVII Symposium on Virtual Reality and Augmented Reality, at São Paulo, Brazil in may 2015.</p>
      <p>Despite appreciating my current work, I’m really passionate about Web Development, so I started professionalizing on with Udacity’s Full Stack Web Developer Nanodegree program. From my current position I’ve gained experience in leadership, communication
        both in english and portuguese, collaboration and creativity problem solving. As a Full Stack Web Developer I’m skilled both in Frontend and Backend programming languages, tools and frameworks such as Python, Flask, Google App Engine, PostgreSQL,
        Bootstrap, JavaScript, jQuery (see more in Background Skills).</p>
      <p>I have a Computer Science BS from the <a href="https://www.portal.ufpa.br/" target="_blank">Federal University of Pará</a> and a Full Stack Web Developer Nanodegree from Udacity.</p>
      <p>I’m always interested in meeting new people, and also enjoy collaborative work, so fell free to contact me if you’d like to connect.</p>
    </div>
  </div>
  </div>
</section>
