<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <!-- <li class="page-link"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></li> -->
      <li class="page-link"><a class="site-title" href="{{ site.baseurl }}/">Home</a></li>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="mailto:{{ site.email }}"><i class="fa fa-send"></i> {{ site.email }}</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      {% for profile in site.social-profiles %}
        <li>
          {% include a-icon-social.html base-url=profile.base-url username=profile.username fa-icon=profile.fa-icon %}
        </li>
      {% endfor %}
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>{{ site.description }}</p>
</footer>
