<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top transp">
    <a class="navbar-brand navbar-brand-image"
        href={% if page.url == '/' %}"{{ '#home' | prepend: site.baseurl | prepend: site.url }}"{% else %}"{{ site.url }}"{% endif %}>
        <img alt="{{ site.title }}" src="/assets/img/icf.png"></a>
    {% comment %} <a class="navbar-brand text-lowercase"
        href={% if page.url == '/' %}"{{ '#home' | prepend: site.baseurl | prepend: site.url }}"{% else %}"{{ site.url }}"{% endif %}>{{ site.title }}</a> {% endcomment %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for sp in site.data.site-pages %}
            <li {% if sp.base-url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                {% if page.url == '/' %}
                <a class="nav-link" href="{{ sp.base-url }}"><i class="fal fa-{{ sp.fa-icon }}"></i>
                    {{sp.label-name}}</a>
                {% else %}
                <a class="nav-link" href="{{ sp.base-url | prepend: site.baseurl | prepend: site.url }}"><i
                        class="fal fa-{{ sp.fa-icon }}"></i> {{ sp.label-name }} {% if sp.base-url == page.url %}
                    <span class="sr-only">(current)</span> {% endif %}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>