<section id="projects" class="site-section">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-uppercase">Projects</h3>
    </div>
  </div>
  <div class="row">
    {% for project in site.projects %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-sm-12">
            <h3>{{ project.title }}</h3>
            <p>{{ project.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            <p><small class="text-muted">{{ project.date | date: "%b %-d, %Y" }}</small></p>
            <a href="{{ project.url | prepend: site.baseurl }}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      {% if forloop.index | divisible_by:2 %}
        <div class="clearfix visible-sm-block"></div>
      {% endif %}
      {% if forloop.index | divisible_by:3 %}
        <div class="clearfix visible-md-block"></div>
      {% endif %}
      {% if forloop.index | divisible_by:4 %}
        <div class="clearfix visible-lg-block"></div>
      {% endif %}
    {% endfor %}
  </div>
</section>
