<!-- Projects Modal -->
{% for project_hash in site.data.projects %}
  {% assign project = project_hash[1] %}
  <div class="modal fade" id="myModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <h3>
                  <a href="{{ project.url}}" target="_blank"><i class="fa fa-github"></i></a>
                </h3>
                {% for cat in project.categories %}
                  <span class="label label-info text-lowercase">{{ cat }}</span>
                {% endfor %}
                <hr class="m-y-2">
                {% for desc in project.description %}
                  <p class="text-left">{{ desc }}</p>
                {% endfor %}
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
