<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="home" class="site" data-spy="scroll" data-target="#navbar-scrollspy">
    <!-- Navbar -->
    {% include navbar.html %}

    <div class="site-content">
        {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- tether CDN for bootstrap -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <!-- bootstrap js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
  </body>

</html>
